.background-color {
    background-color:
}

INFORMATION {
    border-bottom-color: whitesmoke;
}

h1 {
    color: darksalmon;
    font-family: cursive
}

img {
    height: 15px;
    width: 15px;
    margin: .1rem
}

p {
    margin: .45rem;
    font-family: 'ita'
}

aside {
    width: 300000%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: left;
    font-style: italic;
    background-color: blanchedalmond;
}

aside > p {
    margin: .0rem;
}

p {
    font-family: 'italic', sans-serif;
}

li {
    color:
}

a[href^="as_cis@icloud.com"];
}

hr {
    color: darkseagreen;
    margin: .4rem
}



#panel {
    height: 50px;
    width: 300000% bckagroud-color: pink;
}
